header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: url("/img/mobile-header-background-boxen-trainingshalle.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;

  .masthead-content {
    z-index: 1;
    position: relative;

    .masthead-heading {
      font-size: 4rem;
    }

    .masthead-subheading {
      font-size: 2rem;
    }
  }
}

@media (min-width: 992px) {
  header.masthead {
    background: url("../img/optimized/Lukas-Paszkowsky-Boxsack-Boxerstellung.JPG");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;

    .masthead-content {
      margin-left: 20rem;
      .masthead-heading {
        font-size: 6rem;
      }
      .masthead-subheading {
        font-size: 4rem;
      }
    }
  }
}
