header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(grey, transparent 90%),
          linear-gradient(to top, #fff, transparent 90%),
        url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  .masthead-content {
    z-index: 1;
    position: relative;
    .masthead-heading {
      font-size: 4rem;
    }
    .masthead-subheading {
      font-size: 2rem;
    }
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
    .masthead-content {
      .masthead-heading {
        font-size: 6rem;
      }
      .masthead-subheading {
        font-size: 4rem;
      }
    }
  }
}
