.email-form {
  background-color: lightgray;
  margin-top: 10vh;
  margin-bottom: 4rem;
  padding: 2rem;
}

.main-content {
  margin-top: 10vh;
}

.flex-center {
  text-align: center;
}

#impressum {
  margin-top: 10vh;
}