* {
  box-sizing: border-box;
}

.margin-t-a {
  margin-top: auto;
}

.email-form {
  background-color: lightgray;
  margin-top: 10vh;
  margin-bottom: 4rem;
  padding: 2rem;
}

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.main-content {
  margin-top: 6rem;
}

.flex-center {
  text-align: center;
}

.rounded-square {
  border-radius: 50px;
}

.hidden {
  display: none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.service-box {
  background-color: lightgrey;
  padding: 1rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
  box-shadow: 8px 5px 20px rgba(0,0,0, 0.5);
}

.additional-information {


}

#impressum {
  margin-top: 10vh;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
