.margin-t-a {
  margin-top: auto;
}

.email-form {
  background-color: lightgray;
  margin-top: 10vh;
  margin-bottom: 4rem;
  padding: 2rem;
}

.main-content {
  margin-top: 10vh;
}

.flex-center {
  text-align: center;
}

.rounded-square {
  border-radius: 50px;
}

.hidden {
  display: none;
}

#impressum {
  margin-top: 10vh;
}
